src/index.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "Index"

//--- HTML
//---------------------------------------------------------

doctype html
html(lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  span#content(tabindex="-1")

  main.gef-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        div.uk-width-large-1-1

          h1.uk-margin-large-top
            | #{siteName} : #{pageName}

          h2.uk-h3 SSO Templates

          ul
            li
              a(href="sso-default.html") SSO Default

            li
              a(href="sso-error.html") SSO Error

            li
              a(href="sso-logout.html") SSO Logout

            li
              a(href="sso-logout-confirmation.html") SSO Logout confirmation

            li
              a(href="sso-reset.html") SSO Reset Password

            li
              a(href="sso-timeout.html") SSO Timeout

            li
              a(href="sso-password-successfully-reset.html") SSO Password successfully reset

            li
              a(href="sso-secret-questions.html") SSO Secret Questions

  </body>

dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head data-theme="common" data-revision="fdc6d82">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="assets/css/site.css?r=fdc6d82" media="screen"/>
    <title>GEF SSO login | Index</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gef-ie9 standard">
<!--<![endif]--><span id="content" tabindex="-1"></span>
  <main class="gef-main">
    <div class="uk-container uk-container-center">
      <div class="uk-grid uk-grid-collapse">
        <div class="uk-width-large-1-1">
          <h1 class="uk-margin-large-top">GEF SSO login : Index</h1>
          <h2 class="uk-h3">SSO Templates</h2>
          <ul>
            <li><a href="sso-default.html">SSO Default</a></li>
            <li><a href="sso-error.html">SSO Error</a></li>
            <li><a href="sso-logout.html">SSO Logout</a></li>
            <li><a href="sso-logout-confirmation.html">SSO Logout confirmation</a></li>
            <li><a href="sso-reset.html">SSO Reset Password</a></li>
            <li><a href="sso-timeout.html">SSO Timeout</a></li>
            <li><a href="sso-password-successfully-reset.html">SSO Password successfully reset</a></li>
            <li><a href="sso-secret-questions.html">SSO Secret Questions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </main></body>
</html>
