src/sso-help-tafe-students.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Content"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang="en")

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard align-top">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard align-top">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block.sso-block--full-width

            div.uk-container

              p.uk-margin-large-top
                a(href="#") Return to login screen

              h1.uk-h5.uk-margin-large-top
                | Login help for TAFE students


              h2.uk-h6 Why have I been given a NSW Department of Education user ID and password?

              p During enrolment, you received a NSW Department of Education user ID and password for your TAFE student account. This will give you access to a range of online portal services including access to:
              ul
                li computers and the internet at TAFE
                li SharePoints where your teachers may post information and learning resources
                li online learning systems such as Moodle and Sakai
                li the TAFE Student Portal, which includes My Email, My Profile and TAFE Student e-Services, so you can view and print your results and update your contact details
                li library service resources such as e-books, information and databases.


              h2.uk-h6 How do I activate my account to access the online services?

              p Activate your account in three easy steps.
              ol
                li Register at the <a href="https://student.det.nsw.edu.au">Portal</a> using the user ID and temporary password on your TAFE NSW fees receipt. Contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> if you have any trouble.
                li Make sure you include the slashes in your temporary password – for example 12/05/1991.
                li After you have successfully logged in, you must reset your password and set up 3 secret questions and answers from the "My Profile" tab. It can take up to 10 minutes for the new password to update all services.


              h2.uk-h6 What if I already have a user ID and password from a previous course?

              p As long as your account is still active, you should continue to use it.
              p Otherwise you will need to reactivate the account.
              p Click on forgot your password to change it in three easy steps. You will need to have previously created 3 secret questions and answers.
              p If you haven’t created secret questions and answers or need help, contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a>.

              h2.uk-h6 What if I don't have access to a computer or the internet?

              p You can log on using a college library, where computers with internet connection are available for you to use.


              h2.uk-h6 What if my account doesn't work or if I would like more information?

              p Visit your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> in person for help.

              hr

              p.uk-margin-large-bottom
                small
                  | Last updated 17 DoEember 2012

  +global_footer

  include assets/pug/_scripts.pug

dist/sso-help-tafe-students.html
<!DOCTYPE html>
<html class="common" lang="en">
  <head data-theme="common" data-revision="fdc6d82">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="assets/css/site.css?r=fdc6d82" media="screen"/>
    <title>GEF SSO login | SSO Content</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard align-top">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gef-ie9 standard align-top">
<!--<![endif]-->
  <div class="gef-skiplink-container">
    <div class="gef-skiplink">
      <ul>
        <li><a class="gef-skiplink__link" id="top" href="#content">Skip to content</a></li>
      </ul>
    </div>
  </div>
  <div class="gef-global-header-container" role="banner">
    <div class="gef-global-header">
      <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
          <div class="uk-width-1-1"><a class="gef-global-header__header" href="#" title="NSW Department of Education"><abbr title="NSW Department of Education" aria-hidden="true">NSW DoE</abbr></a></div>
        </div>
      </div>
    </div>
  </div><span id="content" tabindex="-1"></span>
  <main class="gef-main sso-main">
    <div class="uk-container uk-container-center">
      <div class="uk-grid uk-grid-collapse">
        <article class="uk-container-center uk-width-large-5-10 uk-margin-large-top uk-margin-large-bottom sso-container">
          <div class="uk-block uk-block-default sso-block sso-block--full-width">
            <div class="uk-container">
              <p class="uk-margin-large-top"><a href="#">Return to login screen</a></p>
              <h1 class="uk-h5 uk-margin-large-top">Login help for TAFE students</h1>
              <h2 class="uk-h6">Why have I been given a NSW Department of Education user ID and password?</h2>
              <p>During enrolment, you received a NSW Department of Education user ID and password for your TAFE student account. This will give you access to a range of online portal services including access to:</p>
              <ul>
                <li>computers and the internet at TAFE</li>
                <li>SharePoints where your teachers may post information and learning resources</li>
                <li>online learning systems such as Moodle and Sakai</li>
                <li>the TAFE Student Portal, which includes My Email, My Profile and TAFE Student e-Services, so you can view and print your results and update your contact details</li>
                <li>library service resources such as e-books, information and databases.</li>
              </ul>
              <h2 class="uk-h6">How do I activate my account to access the online services?</h2>
              <p>Activate your account in three easy steps.</p>
              <ol>
                <li>Register at the <a href="https://student.det.nsw.edu.au">Portal</a> using the user ID and temporary password on your TAFE NSW fees receipt. Contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> if you have any trouble.</li>
                <li>Make sure you include the slashes in your temporary password – for example 12/05/1991.</li>
                <li>After you have successfully logged in, you must reset your password and set up 3 secret questions and answers from the "My Profile" tab. It can take up to 10 minutes for the new password to update all services.</li>
              </ol>
              <h2 class="uk-h6">What if I already have a user ID and password from a previous course?</h2>
              <p>As long as your account is still active, you should continue to use it.</p>
              <p>Otherwise you will need to reactivate the account.</p>
              <p>Click on forgot your password to change it in three easy steps. You will need to have previously created 3 secret questions and answers.</p>
              <p>If you haven’t created secret questions and answers or need help, contact your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a>.</p>
              <h2 class="uk-h6">What if I don't have access to a computer or the internet?</h2>
              <p>You can log on using a college library, where computers with internet connection are available for you to use.</p>
              <h2 class="uk-h6">What if my account doesn't work or if I would like more information?</h2>
              <p>Visit your <a href="https://www.tafensw.edu.au/find-campus">local student administration office</a> in person for help.</p>
              <hr>
              <p class="uk-margin-large-bottom"><small>Last updated 17 DoEember 2012</small></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>
  <aside class="gef-global-footer uk-width-1-1">
    <h1 class="show-on-sr">NSW Department of Education</h1>
    <div class="uk-container uk-container-center">
      <div class="gef-global-footer__inner uk-grid">
        <div class="gef-global-footer__inner__wrapper uk-width-medium-6-10 uk-width-large-7-10">
          <nav class="uk-grid">
            <h2 class="show-on-sr">Copyright, privacy and accessibility</h2>
            <div class="uk-width-large-1-3">
              <button class="gef-feedback-trigger">Provide Feedback</button>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-3">
              <ul class="uk-list">
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Information access</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-3">
              <ul class="uk-list">
                <li><a href="#">Copyright</a></li>
                <li><a href="#">Department contacts</a></li>
                <li><a href="#">NSW Government</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="gef-global-footer__inner__logo uk-width-medium-4-10 uk-width-large-3-10">
          <div class="gef-corporate-logo"><a class="gef-corporate-logo__link" href="#" title="NSW Department of Education"><span class="uk-hidden">NSW Department of Education logo</span><img class="gef-corporate-logo__image" src="assets/images/doe-black-logo.png" alt="NSW Department of Education logo"/></a></div>
        </div>
      </div>
    </div>
  </aside>
  <script>
    //- Placeholders.js v4.0.1
    !function(a){"use strict";function b(){}function c(){try{return document.activeElement}catch(a){}}function d(a,b){for(var c=0,d=a.length;d>c;c++)if(a[c]===b)return!0;return!1}function e(a,b,c){return a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent?a.attachEvent("on"+b,c):void 0}function f(a,b){var c;a.createTextRange?(c=a.createTextRange(),c.move("character",b),c.select()):a.selectionStart&&(a.focus(),a.setSelectionRange(b,b))}function g(a,b){try{return a.type=b,!0}catch(c){return!1}}function h(a,b){if(a&&a.getAttribute(B))b(a);else for(var c,d=a?a.getElementsByTagName("input"):N,e=a?a.getElementsByTagName("textarea"):O,f=d?d.length:0,g=e?e.length:0,h=f+g,i=0;h>i;i++)c=f>i?d[i]:e[i-f],b(c)}function i(a){h(a,k)}function j(a){h(a,l)}function k(a,b){var c=!!b&&a.value!==b,d=a.value===a.getAttribute(B);if((c||d)&&"true"===a.getAttribute(C)){a.removeAttribute(C),a.value=a.value.replace(a.getAttribute(B),""),a.className=a.className.replace(A,"");var e=a.getAttribute(I);parseInt(e,10)>=0&&(a.setAttribute("maxLength",e),a.removeAttribute(I));var f=a.getAttribute(D);return f&&(a.type=f),!0}return!1}function l(a){var b=a.getAttribute(B);if(""===a.value&&b){a.setAttribute(C,"true"),a.value=b,a.className+=" "+z;var c=a.getAttribute(I);c||(a.setAttribute(I,a.maxLength),a.removeAttribute("maxLength"));var d=a.getAttribute(D);return d?a.type="text":"password"===a.type&&g(a,"text")&&a.setAttribute(D,"password"),!0}return!1}function m(a){return function(){P&&a.value===a.getAttribute(B)&&"true"===a.getAttribute(C)?f(a,0):k(a)}}function n(a){return function(){l(a)}}function o(a){return function(){i(a)}}function p(a){return function(b){return v=a.value,"true"===a.getAttribute(C)&&v===a.getAttribute(B)&&d(x,b.keyCode)?(b.preventDefault&&b.preventDefault(),!1):void 0}}function q(a){return function(){k(a,v),""===a.value&&(a.blur(),f(a,0))}}function r(a){return function(){a===c()&&a.value===a.getAttribute(B)&&"true"===a.getAttribute(C)&&f(a,0)}}function s(a){var b=a.form;b&&"string"==typeof b&&(b=document.getElementById(b),b.getAttribute(E)||(e(b,"submit",o(b)),b.setAttribute(E,"true"))),e(a,"focus",m(a)),e(a,"blur",n(a)),P&&(e(a,"keydown",p(a)),e(a,"keyup",q(a)),e(a,"click",r(a))),a.setAttribute(F,"true"),a.setAttribute(B,T),(P||a!==c())&&l(a)}var t=document.createElement("input"),u=void 0!==t.placeholder;if(a.Placeholders={nativeSupport:u,disable:u?b:i,enable:u?b:j},!u){var v,w=["text","search","url","tel","email","password","number","textarea"],x=[27,33,34,35,36,37,38,39,40,8,46],y="#ccc",z="placeholdersjs",A=new RegExp("(?:^|\\s)"+z+"(?!\\S)"),B="data-placeholder-value",C="data-placeholder-active",D="data-placeholder-type",E="data-placeholder-submit",F="data-placeholder-bound",G="data-placeholder-focus",H="data-placeholder-live",I="data-placeholder-maxlength",J=100,K=document.getElementsByTagName("head")[0],L=document.documentElement,M=a.Placeholders,N=document.getElementsByTagName("input"),O=document.getElementsByTagName("textarea"),P="false"===L.getAttribute(G),Q="false"!==L.getAttribute(H),R=document.createElement("style");R.type="text/css";var S=document.createTextNode("."+z+" {color:"+y+";}");R.styleSheet?R.styleSheet.cssText=S.nodeValue:R.appendChild(S),K.insertBefore(R,K.firstChild);for(var T,U,V=0,W=N.length+O.length;W>V;V++)U=V<N.length?N[V]:O[V-N.length],T=U.attributes.placeholder,T&&(T=T.nodeValue,T&&d(w,U.type)&&s(U));var X=setInterval(function(){for(var a=0,b=N.length+O.length;b>a;a++)U=a<N.length?N[a]:O[a-N.length],T=U.attributes.placeholder,T?(T=T.nodeValue,T&&d(w,U.type)&&(U.getAttribute(F)||s(U),(T!==U.getAttribute(B)||"password"===U.type&&!U.getAttribute(D))&&("password"===U.type&&!U.getAttribute(D)&&g(U,"text")&&U.setAttribute(D,"password"),U.value===U.getAttribute(B)&&(U.value=T),U.setAttribute(B,T)))):U.getAttribute(C)&&(k(U),U.removeAttribute(B));Q||clearInterval(X)},J);e(a,"beforeunload",function(){M.disable()})}}(this);
    
  </script>
  <script type="text/javascript" src="https://dec-ce.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-qcfiti/100023/c/1000.0.11/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&amp;collectorId=13389cd6"></script>
  <script type="text/javascript">
    window.ATL_JQ_PAGE_PROPS =  {
      "triggerFunction": function(showCollectorDialog) {
        //Requires that jQuery is available!
        jQuery(".gef-feedback-trigger").click(function(e) {
          e.preventDefault()
          showCollectorDialog()
        })
      }
    }
  </script>
</html>
