src/sso-logout.pug
//--- INCLUDES
//---------------------------------------------------------

include assets/pug/site.pug

//--- VARIABLES
//---------------------------------------------------------

- var pageName = "SSO Logout"

//--- HTML
//---------------------------------------------------------

doctype html
html(class=theme, lang='en')

  +head

  <!--[if gt IE 9 | !IE ]><!-->
  <body class="standard">
  <!--<![endif]-->
  <!--[if lte IE 9]>
  <body class="gef-ie9 standard">
  <!--<![endif]-->

  +gef_skiplink(true, false)

  +global_header(false, false)

  span#content(tabindex="-1")

  main.gef-main.sso-main

    div.uk-container.uk-container-center

      div.uk-grid.uk-grid-collapse

        article.uk-container-center.uk-width-medium-7-10.uk-width-large-5-10.uk-margin-large-top.uk-margin-large-bottom.sso-container

          div.uk-block.uk-block-default.sso-block

            div.uk-container.uk-text-center

              h1.uk-h6.uk-margin-large-top
                | You have been partially logged out of the system

              p [internal] To fully end your session, close every browser window AND log off from your user account on this device.

              p [external] To fully end your session, close every browser window.

              p [mobile] Your session might not be fully closed. Do not share your device with others.


              p
                a(href="#")
                  | Log in again

              hr

              p.uk-margin-large-bottom.sso-links
                a(href="#")
                  | Help for DoE/TAFE staff
                a(href="#")
                  | Help for TAFE students

  +global_footer

  include assets/pug/_scripts.pug

dist/sso-logout.html
<!DOCTYPE html>
<html class="common" lang="en">
  <head data-theme="common" data-revision="fdc6d82">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <base/>
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="assets/css/site.css?r=fdc6d82" media="screen"/>
    <title>GEF SSO login | SSO Logout</title><!--[if lt IE 9]>
<script src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' type='text/javascript' />
<script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js' type='text/javascript' />
<![endif]-->
  </head><!--[if gt IE 9 | !IE ]><!-->
<body class="standard">
<!--<![endif]-->
<!--[if lte IE 9]>
<body class="gef-ie9 standard">
<!--<![endif]-->
  <div class="gef-skiplink-container">
    <div class="gef-skiplink">
      <ul>
        <li><a class="gef-skiplink__link" id="top" href="#content">Skip to content</a></li>
      </ul>
    </div>
  </div>
  <div class="gef-global-header-container" role="banner">
    <div class="gef-global-header">
      <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-collapse">
          <div class="uk-width-1-1"><a class="gef-global-header__header" href="#" title="NSW Department of Education"><abbr title="NSW Department of Education" aria-hidden="true">NSW DoE</abbr></a></div>
        </div>
      </div>
    </div>
  </div><span id="content" tabindex="-1"></span>
  <main class="gef-main sso-main">
    <div class="uk-container uk-container-center">
      <div class="uk-grid uk-grid-collapse">
        <article class="uk-container-center uk-width-medium-7-10 uk-width-large-5-10 uk-margin-large-top uk-margin-large-bottom sso-container">
          <div class="uk-block uk-block-default sso-block">
            <div class="uk-container uk-text-center">
              <h1 class="uk-h6 uk-margin-large-top">You have been partially logged out of the system</h1>
              <p>[internal] To fully end your session, close every browser window AND log off from your user account on this device.</p>
              <p>[external] To fully end your session, close every browser window.</p>
              <p>[mobile] Your session might not be fully closed. Do not share your device with others.</p>
              <p><a href="#">Log in again</a></p>
              <hr>
              <p class="uk-margin-large-bottom sso-links"><a href="#">Help for DoE/TAFE staff</a><a href="#">Help for TAFE students</a></p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </main>
  <aside class="gef-global-footer uk-width-1-1">
    <h1 class="show-on-sr">NSW Department of Education</h1>
    <div class="uk-container uk-container-center">
      <div class="gef-global-footer__inner uk-grid">
        <div class="gef-global-footer__inner__wrapper uk-width-medium-6-10 uk-width-large-7-10">
          <nav class="uk-grid">
            <h2 class="show-on-sr">Copyright, privacy and accessibility</h2>
            <div class="uk-width-large-1-3">
              <button class="gef-feedback-trigger">Provide Feedback</button>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-3">
              <ul class="uk-list">
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Information access</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
            <div class="uk-width-medium-1-2 uk-width-large-1-3">
              <ul class="uk-list">
                <li><a href="#">Copyright</a></li>
                <li><a href="#">Department contacts</a></li>
                <li><a href="#">NSW Government</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="gef-global-footer__inner__logo uk-width-medium-4-10 uk-width-large-3-10">
          <div class="gef-corporate-logo"><a class="gef-corporate-logo__link" href="#" title="NSW Department of Education"><span class="uk-hidden">NSW Department of Education logo</span><img class="gef-corporate-logo__image" src="assets/images/doe-black-logo.png" alt="NSW Department of Education logo"/></a></div>
        </div>
      </div>
    </div>
  </aside>
  <script>
    //- Placeholders.js v4.0.1
    !function(a){"use strict";function b(){}function c(){try{return document.activeElement}catch(a){}}function d(a,b){for(var c=0,d=a.length;d>c;c++)if(a[c]===b)return!0;return!1}function e(a,b,c){return a.addEventListener?a.addEventListener(b,c,!1):a.attachEvent?a.attachEvent("on"+b,c):void 0}function f(a,b){var c;a.createTextRange?(c=a.createTextRange(),c.move("character",b),c.select()):a.selectionStart&&(a.focus(),a.setSelectionRange(b,b))}function g(a,b){try{return a.type=b,!0}catch(c){return!1}}function h(a,b){if(a&&a.getAttribute(B))b(a);else for(var c,d=a?a.getElementsByTagName("input"):N,e=a?a.getElementsByTagName("textarea"):O,f=d?d.length:0,g=e?e.length:0,h=f+g,i=0;h>i;i++)c=f>i?d[i]:e[i-f],b(c)}function i(a){h(a,k)}function j(a){h(a,l)}function k(a,b){var c=!!b&&a.value!==b,d=a.value===a.getAttribute(B);if((c||d)&&"true"===a.getAttribute(C)){a.removeAttribute(C),a.value=a.value.replace(a.getAttribute(B),""),a.className=a.className.replace(A,"");var e=a.getAttribute(I);parseInt(e,10)>=0&&(a.setAttribute("maxLength",e),a.removeAttribute(I));var f=a.getAttribute(D);return f&&(a.type=f),!0}return!1}function l(a){var b=a.getAttribute(B);if(""===a.value&&b){a.setAttribute(C,"true"),a.value=b,a.className+=" "+z;var c=a.getAttribute(I);c||(a.setAttribute(I,a.maxLength),a.removeAttribute("maxLength"));var d=a.getAttribute(D);return d?a.type="text":"password"===a.type&&g(a,"text")&&a.setAttribute(D,"password"),!0}return!1}function m(a){return function(){P&&a.value===a.getAttribute(B)&&"true"===a.getAttribute(C)?f(a,0):k(a)}}function n(a){return function(){l(a)}}function o(a){return function(){i(a)}}function p(a){return function(b){return v=a.value,"true"===a.getAttribute(C)&&v===a.getAttribute(B)&&d(x,b.keyCode)?(b.preventDefault&&b.preventDefault(),!1):void 0}}function q(a){return function(){k(a,v),""===a.value&&(a.blur(),f(a,0))}}function r(a){return function(){a===c()&&a.value===a.getAttribute(B)&&"true"===a.getAttribute(C)&&f(a,0)}}function s(a){var b=a.form;b&&"string"==typeof b&&(b=document.getElementById(b),b.getAttribute(E)||(e(b,"submit",o(b)),b.setAttribute(E,"true"))),e(a,"focus",m(a)),e(a,"blur",n(a)),P&&(e(a,"keydown",p(a)),e(a,"keyup",q(a)),e(a,"click",r(a))),a.setAttribute(F,"true"),a.setAttribute(B,T),(P||a!==c())&&l(a)}var t=document.createElement("input"),u=void 0!==t.placeholder;if(a.Placeholders={nativeSupport:u,disable:u?b:i,enable:u?b:j},!u){var v,w=["text","search","url","tel","email","password","number","textarea"],x=[27,33,34,35,36,37,38,39,40,8,46],y="#ccc",z="placeholdersjs",A=new RegExp("(?:^|\\s)"+z+"(?!\\S)"),B="data-placeholder-value",C="data-placeholder-active",D="data-placeholder-type",E="data-placeholder-submit",F="data-placeholder-bound",G="data-placeholder-focus",H="data-placeholder-live",I="data-placeholder-maxlength",J=100,K=document.getElementsByTagName("head")[0],L=document.documentElement,M=a.Placeholders,N=document.getElementsByTagName("input"),O=document.getElementsByTagName("textarea"),P="false"===L.getAttribute(G),Q="false"!==L.getAttribute(H),R=document.createElement("style");R.type="text/css";var S=document.createTextNode("."+z+" {color:"+y+";}");R.styleSheet?R.styleSheet.cssText=S.nodeValue:R.appendChild(S),K.insertBefore(R,K.firstChild);for(var T,U,V=0,W=N.length+O.length;W>V;V++)U=V<N.length?N[V]:O[V-N.length],T=U.attributes.placeholder,T&&(T=T.nodeValue,T&&d(w,U.type)&&s(U));var X=setInterval(function(){for(var a=0,b=N.length+O.length;b>a;a++)U=a<N.length?N[a]:O[a-N.length],T=U.attributes.placeholder,T?(T=T.nodeValue,T&&d(w,U.type)&&(U.getAttribute(F)||s(U),(T!==U.getAttribute(B)||"password"===U.type&&!U.getAttribute(D))&&("password"===U.type&&!U.getAttribute(D)&&g(U,"text")&&U.setAttribute(D,"password"),U.value===U.getAttribute(B)&&(U.value=T),U.setAttribute(B,T)))):U.getAttribute(C)&&(k(U),U.removeAttribute(B));Q||clearInterval(X)},J);e(a,"beforeunload",function(){M.disable()})}}(this);
    
  </script>
  <script type="text/javascript" src="https://dec-ce.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-qcfiti/100023/c/1000.0.11/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-UK&amp;collectorId=13389cd6"></script>
  <script type="text/javascript">
    window.ATL_JQ_PAGE_PROPS =  {
      "triggerFunction": function(showCollectorDialog) {
        //Requires that jQuery is available!
        jQuery(".gef-feedback-trigger").click(function(e) {
          e.preventDefault()
          showCollectorDialog()
        })
      }
    }
  </script>
</html>
